{%extends 'base.html'%}
{% load static %}

{%block title%}
      Start Your Test
      {%endblock%}


{%block header%}

    <meta property="og:title" content="Tinted Firm Ant" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />
    <style>
      .container {
        width: 80%;
        max-width: 600px;
        height: 400px;
        background-color: white;
        border-radius: 10px;
        margin: 15% auto;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        position: relative;
      }

      .h2text {
        padding: 8%;

      }

      .start-button {
        background-color: rgb(89, 46, 207);
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
      }

      .corner-button {
        background-color: blue;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        position: absolute;
        bottom: 10px;
        margin: 0 10px;
        display: none;
      }

      .corner-button.left {
        left: 30%;
        bottom: 18%;
      }

      .corner-button.right {
        right: 30%;
        bottom: 18%;
      }
      .corner-button.middle {
        left: 45.5%;
        bottom: 18%;
      }

      h2 {
        text-align: center;
      }

      .recorder-timer{
        position: absolute;
        left: 44%;
        bottom: 38%;
        /* display: none; */
      }

      img{
        width: 50%;
        margin-top: 13%;
        margin-left: 24%;
      }

      /* Media Queries */
@media (max-width: 1200px) {
  .container {
    width: 90%;
    max-width: 600px;
    margin: 10% auto;
  }

  .start-button {
    top: 30%;
  }

  .corner-button {
    bottom: 5px;
  }

  .recorder-timer {
    bottom: 28%;
  }
}

@media (max-width: 768px) {


  .container {
    height: 300px;
  }

  .start-button {
    top: 30%;
  }

  .corner-button {
    bottom: 5px;
  }
}

@media (max-width: 480px) {
  .container {
    height: 250px;
    margin: 20% auto;
  }

  .start-button {
    top: 40%;
  }

  .corner-button {
    /* display: block; */
    width: 30%;
    padding: 8px 12px;
    font-size: 12px;
    bottom: 10px;
  }

  .corner-button.left {
    left: 10px;
  }

  .corner-button.middle {
    left: 50%;
    transform: translateX(-50%);
  }
  .corner-button.right {
    right: 10px;
  }

  .recorder-timer {
    display: none;
  }
      }
    </style>


    {%endblock%}

{%block body%}
<div class="container">
  {% csrf_token %}
  <h2 class="h2text" id="question_h2"></h2>
  <button class="start-button" id="startbtn">Start Test</button>
  <div class="recorder-timer" id="timer"></div>
  <button class="corner-button left" id="startrec">Start Recording</button>
  <button class="corner-button middle" id="downloadButton">Download</button>
  <button class="corner-button right" id="stoprec">Stop Recording</button>

</div>

    <script>

const test_start = () => {
        // fetch(`{% url 'question_generator' %}`)
        fetch("https://speech-examiner.azurewebsites.net/api/random-prompt",{
          method: 'POST'
        })
        .then(response => response.json())
        .then(data => {
          document.getElementById('question_h2').textContent = data.prompt;
        //   document.getElementById('question_h2').textContent = 'tell us';
          document.getElementById('question_h2').style.display = 'block';
          document.getElementById('startbtn').style.display = 'none';
          document.getElementById('startrec').style.display = 'block';
          document.getElementById('stoprec').style.display = 'block';

          // document.getElementById('downloadButton').style.display = 'block';


        })
        .catch(error => {
            console.error('Error downloading PDF:', error);
        });
    }

      document.getElementById('startbtn').addEventListener('click', test_start);


    //  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$

    let mediaRecorder;
  let startTime;

  const startRecording = () => {
    navigator.mediaDevices.getUserMedia({ audio: true })
      .then(stream => {
        mediaRecorder = new MediaRecorder(stream);
        const chunks = []; // Clear the previous recording chunks
        startTime = Date.now();

        mediaRecorder.addEventListener('dataavailable', event => {
          chunks.push(event.data);
        });

        mediaRecorder.addEventListener('stop', () => {

          const endTime = Date.now();
          const elapsedTime = endTime - startTime;

          const blob = new Blob(chunks, { type: 'audio/wav' });
          const url = URL.createObjectURL(blob);
          const a = document.createElement('a');
          a.href = url;
          a.download = 'recording.wav';
          a.click();
          chunks.length = 0; // Clear the chunks after creating the download link
          let prompt_text = document.getElementById('question_h2').textContent
          const formData = new FormData();
          formData.append('audio', blob);
          formData.append('prompt', prompt_text);

          const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        //   fetch("{% url 'audio_file' %}", {
          fetch("https://speech-examiner.azurewebsites.net/api/speech_ranking", {
            method: 'POST',
            // headers: {
            //   'X-CSRFToken': csrfToken
            // },
            body: formData
          })
            .then(response => response.json())
            .then(data => {
              // Process the API response
              document.getElementById('question_h2').textContent = data.rank;
            //   document.getElementById('question_h2').innerHTML += '<p id="resultp"> is your result</p>';
              document.getElementById('downloadButton').style.display = 'block';
            //   document.getElementById('resulth2').style.display = 'block';
            //   document.getElementById('question_h2').textContent = data.rank;


            })
            .catch(error => {
              console.error('Error sending recording:', error);
            });
        });

        mediaRecorder.start();
        console.log('Voice recording started...');
        startTimer();
      })
      .catch(error => {
        console.error('Error accessing microphone:', error);
      });
  };

  const stopRecording = () => {
    mediaRecorder.stop();
    mediaRecorder.stream.getAudioTracks().forEach(track => track.stop()); // Stop the audio tracks
    console.log('Voice recording stopped...');
    stopTimer();
  };

  let timerInterval;
  const startTimer = () => {
    const timerElement = document.getElementById('timer');
    let elapsedTime = 0;

    timerInterval = setInterval(() => {
      elapsedTime = Date.now() - startTime; // Calculate the elapsed time in milliseconds
      const hours = Math.floor(elapsedTime / 3600000); // Convert milliseconds to hours
      const minutes = Math.floor((elapsedTime % 3600000) / 60000); // Convert remaining milliseconds to minutes
      const seconds = Math.floor((elapsedTime % 60000) / 1000); // Convert remaining milliseconds to seconds

      const formattedTime = `${padZero(hours)}:${padZero(minutes)}:${padZero(seconds)}`;
      timerElement.textContent = `Recording time: ${formattedTime}`;
    }, 1000);
  };

  const padZero = (value) => {
    return value.toString().padStart(2, '0');
  };

  const stopTimer = () => {
    clearInterval(timerInterval);
  };

  const downloadCertificate = () => {
        // Beginner level (CERF A1)
        // Pre-intermediate level (CERF A2)
        // Intermediate level (CERF B1)
        // Upper-Intermediate level	 (CERF B2)
        // Advanced	level (CERF C1)
        // Proficiency level (CERF C2)

        let level = document.getElementById('question_h2').textContent
        let final_level = ''
        if (level == 'A1'){
            final_level = 'Beginner level (CERF A1)'
        }
        else if (level == 'A2'){
            final_level = 'Pre-intermediate level (CERF A2)'
        }
        else if (level == 'B1'){
            final_level = 'Intermediate level (CERF B1)'
        }
        else if (level == 'B2'){
            final_level = 'Upper-Intermediate level	 (CERF B2)'
        }
        else if (level == 'C1'){
            final_level = 'Advanced	level (CERF C1)'
        }
        else if (level == 'C2'){
            final_level = 'Proficiency level (CERF C2)'
        }
        console.log("HHHHHHHHHHHHHHHHHHHHHH ", final_level)
        // fetch("{% url 'generate_certificate' 'level' %}")
        fetch(`/get-certificate/${final_level}`)
        .then(response => response.blob())
        .then(blob => {
            const filename = 'certificate.png';
            const url = URL.createObjectURL(blob);

            const a = document.createElement('a');
            a.href = url;
            console.log('sdssdsdsd: ', a.href)
            a.download = filename;
            a.click();



        })
        .catch(error => {
            console.error('Error downloading PDF:', error);
        });
    }

    document.getElementById('startrec').addEventListener('click', startRecording);
  document.getElementById('stoprec').addEventListener('click', stopRecording);
  document.getElementById('downloadButton').addEventListener('click', downloadCertificate);

  </script>



  {%endblock%}
